.card{

	display: block;
	max-width: 300px;
	max-height: 400px;
	height: auto;
	background-color: black;

}

.card-title{
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	color: white;
	text-align: center;

}

.card-image{

	display: block;
	height: auto;
	max-width: 90%;
padding-top: 20px;
padding-bottom: 20px;
margin-right:auto;
margin-left: auto;
}

.card-type{
	

}